[theme]
base = "light"
primaryColor = "{{ brand.primary }}"
backgroundColor = "{{ brand.background }}"
secondaryBackgroundColor = "{{ brand.secondary_background }}"
textColor = "{{ brand.text_color }}"
font = "sans serif"
